[tool.poetry]
name = "ecoindex"
version = "v5.0.0"
description = "Ecoindex module provides a simple way to measure the Ecoindex score based on the 3 parameters: The DOM elements of the page, the size of the page and the number of external requests of the page"
authors = ["Vincent Vatelot <vincent.vatelot@ik.me>"]
license = "MIT"
readme = "README.md"
homepage = "http://www.ecoindex.fr"
repository = "https://github.com/cnumr/ecoindex_python"
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.8"
sqlmodel = ">=0.0.4,<0.0.8"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
black = "^22.6"
pytest-asyncio = "^0.18.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
