[tool.poetry]
name = "ecoindex"
version = "v1.6.0"
description = "Ecoindex module provides a simple way to measure the Ecoindex score based on the 3 parameters: The DOM elements of the page, the size of the page and the number of external requests of the page"
authors = ["Vincent Vatelot <vincent.vatelot@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "http://www.ecoindex.fr"
repository = "https://github.com/cnumr/ecoindex_python"
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.8.2"
selenium = "^3.141.0"
chromedriver-binary = "^92.0.4515"
sqlmodel = "^0.0.4"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.7b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
